.u-section-1 .u-sheet-1 {
  min-height: 983px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 6rem;
  margin: 45px 52px 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 70px 66px 0 27px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -501px auto 0 480px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-family: "Antic Didone";
  margin: 487px 0 60px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-1 .u-text-1 {
    width: 693px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 336px 62px 19px 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1378px;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
    margin-top: -554px;
  }

  .u-section-1 .u-text-3 {
    margin: 547px 51px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 57px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -674px;
  }

  .u-section-1 .u-text-3 {
    margin: 629px -8px 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1745px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -56px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 64px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -921px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 919px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 428px;
}

.u-section-2 .u-gallery-1 {
  height: 375px;
  margin: 0 0 53px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 168px;
  padding: 10px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 168px;
  right: 10px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 110px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 794px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 13px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 791px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 673px;
  height: 788px;
  margin: -7px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 594px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 44px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 100px 16px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 44px 16px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 197px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-social-icons-1 {
  height: 49px;
  min-height: 16px;
  width: 108px;
  min-width: 42px;
  margin: 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 834px;
  }

  .u-section-3 .u-image-1 {
    width: 592px;
    height: 693px;
    margin-top: 37px;
    margin-left: -13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 672px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 162px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(197, 54, 164) !important;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 888px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 110px;
    margin-left: 52px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 63px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 52px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 666px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 632px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 49px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 225px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-3 .u-image-1 {
    height: 398px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 117px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -70px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1142px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 14px auto 0 478px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 27px 20px 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 520px;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 394px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -197px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -170px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -81px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 44px;
    margin-bottom: 24px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 310px;
  }
}