.u-section-1 .u-sheet-1 {
  min-height: 319px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 19px 10px 26px 1px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -87px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 56px 0 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2381px;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-10af-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-43 {
  font-weight: 700;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-55 {
  font-weight: 700;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-61 {
  font-weight: 700;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-67 {
  font-weight: 700;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-73 {
  font-weight: 700;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-79 {
  font-weight: 700;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-85 {
  font-weight: 700;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-91 {
  font-weight: 700;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  padding: 0;
}